<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container d-flex align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
          </button>
          <% if(isAuthenticated){ %>
          <p class="button-custom order-lg-last mb-0"><a href="/<%= currentUser.username %>" class="btn btn-secondary py-2 px-3">내 정보</a></p>
          <p class="button-custom order-lg-last mb-0"><a href="/logout" class="btn btn-secondary py-2 px-3">로그아웃</a></p>
          <% } else { %>
          <p class="button-custom order-lg-last mb-0"><a href="/login" class="btn btn-secondary py-2 px-3">로그인</a></p>
          <p class="button-custom order-lg-last mb-0"><a href="/new" class="btn btn-secondary py-2 px-3">회원가입</a></p>
          <% } %>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto">
               
                <li class="nav-item"><a class="nav-link" href="about">About 다온</a></li>
                <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                     aria-expanded="false">의학 자료실</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a class="nav-link" href="dictionary">의학사전</a></li>
                        <li class="nav-item"><a class="nav-link" href="posts/index">해외 자료 번역</a></li>
                    </ul>
                </li>
                <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                     aria-expanded="false">커뮤니티</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a class="nav-link" href="doctors.html">질환별 커뮤니티</a></li>
                        <li class="nav-item"><a class="nav-link" href="chat">1:1 채팅</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="calendar">다온 캘린더</a></li>
                
                <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                     aria-expanded="false">임상지원</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a class="nav-link" href="search">임상 신청하기</a></li>
                        <li class="nav-item"><a class="nav-link" href="single-blog.html">환자 공개 프로필</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="contact.html">진료 가능 병원 검색</a></li>
            </ul>
            
        </div>
        </div>
      </nav><!-- END nav -->

      <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url(images/to.jpg);" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
            <div class="col-md-6 text ftco-animate">
              <h1 class="mb-4"><span>모든 좋은일이</span>다 온다</h1>
              <h3 class="subheading">항상 희망과 웃음이 함께 하길 기도합니다</h3>
              <p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">자세히 보기</a></p>
            </div>
          </div>
          </div>
        </div>