<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
		<% include ../partials/nav %>
		<% include ../partials/applicationnav %>
        
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-2">
                    <div class="col-md-8 text-center heading-section ftco-animate">
                  <span class="subheading"></span>
                <h2 class="mb-4">임상시험 모집 공고</h2>
                <p>임상시험 모집공고 및 참여신청을 위한 공간</p>
              </div>
            </div>
                <div class="ftco-departments">
                    <div class="row">
                    <div class="col-md-12 nav-link-wrap">
                        <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link ftco-animate active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">모집중</a>
                        <a class="nav-link ftco-animate" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">마감</a>
                        </div>
                    </div>
                <div class="col-md-12 tab-wrap">
                    <div class="tab-content bg-light p-4 p-md-5 ftco-animate" id="v-pills-tabContent">
    
                        <div class="tab-pane show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
                          <div class="row departments">
                           
                              <div class="col-md-12">
                                <div class="container post post-index">
                                
                                            <table class="table" cellspacing="0">
                                                <thead text-align:center>
                                                    <tr>
                                                            <th width="7%">번호</th>
                                                            <th width="18%">대상질환명</th>
                                                            <th width="42%">임상시험명</th>
                                                            <th width="25%">실시기관</th>
                                                            <th width="15%">진행현황</th>
                                                            <th width="10%">등록일</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>뮤코다당증</td>
                                                        <td><a href="application_ex1">뮤코다당증 신약 개발 임상시험 자원자 모집</a></td>
                                                        <td>식약처</td>
                                                        <td>진행중</td>
                                                        <td>2019.06.14</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>알렉산더</td>
                                                        <td><a href="#">신경계 퇴행성 변화를 관찰하기 위한 제1상 임상시험</a></td>
                                                        <td>가톨릭관동대학교 국제성모병원</td>
                                                        <td>진행중</td>
                                                        <td>2019.06.10</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>월슨병</td>
                                                        <td><a href="#">월슨병 임상시험 모집</a></td>
                                                        <td>명인제약(주)</td>
                                                        <td>진행중</td>
                                                        <td>2019.05.28</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>헤이-웰스 증후군</td>
                                                        <td><a href="#">보툴렉스 주입에 관한 임상시험</a></td>
                                                        <td>서울대학교병원</td>
                                                        <td>진행중</td>
                                                        <td>2019.05.10</td>
                                                        </tr>
                                                </tbody>
                                            </table>
                                     

                              </div>
                          </div>
                      </div>
                    </div>
    
                      <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
                          <div class="row departments">
                              <div class="col-md-12">
                                    <div class="container post post-index">
                                  <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                                <th width="7%">번호</th>
                                                <th width="18%">대상질환명</th>
                                                <th width="42%">임상시험명</th>
                                                <th width="25%">실시기관</th>
                                                <th width="15%">진행현황</th>
                                                <th width="10%">등록일</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                                <td>4</td>
                                                <td>다발성 골단 형성 이상</td>
                                                <td><a href="#">대중요법 치료 임상시험</a></td>
                                                <td>한국릴리</td>
                                                <td>마감</td>
                                                <td>2019.04.25</td>
                                        </tr>
                                        <tr>
                                                <td>3</td>
                                                <td>파킨슨병</td>
                                                <td><a href="#">도파민 신경전구세포 이식 임상연구 환자 모집</a></td>
                                                <td>CHA 의과학대학교 분당차병원</td>
                                                <td>마감</td>
                                                <td>2019.04.17</td>
                                        </tr>
                                        <tr>
                                                <td>2</td>
                                                <td>선천성 중추성 무호흡증</td>
                                                <td><a href="#">유전자 돌연변이 발생 억제 물질 주입에 관한 임상실험(평일) </a></td>
                                                <td>서울대학교병원</td>
                                                <td>마감</td>
                                                <td>2019.03.29</td>
                                        </tr>
                                        <tr>
                                                <td>1</td>
                                                <td>선천성 중추성 무호흡증</td>
                                                <td><a href="#">유전자 돌연변이 발생 억제 물질 주입에 관한 임상실험(주말)</a></td>
                                                <td>서울대학교병원</td>
                                                <td>마감</td>
                                                <td>2019.03.29</td>
                                        </tr>
                                    </tbody>
                                </table>
                              </div>
                          </div>
                      </div>
                      </div>
                      <p class="button-custom order-lg-last mb-0"><a href="../application_write" class="btn btn-secondary py-2 px-3" style="float:right">글쓰기</a></p>
    
                    </div>
                  </div>
                </div>
            </div>
            </div>
            
        </section>
        <% include ../partials/footer %>
  </body>
</html>