<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
		<% include ../partials/nav %>
        <% include ../partials/applicationnav %>

        <section class="ftco-section">
                <div class="container">
                    
            </div>
        </section>

        <% include ../partials/footer %>
    </body>
  </html>