<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
		<% include ../partials/nav %>
        <% include ../partials/applicationnav %>

        <section class="ftco-section">
                <div class="container">
                    <div class="row justify-content-center mb-5 pb-2">
                        <div class="col-md-8 text-center heading-section ftco-animate">
                      <span class="subheading"></span>
                    <h2 class="mb-4">임상시험 모집 공고</h2>
                    <p>임상시험 모집공고 및 참여신청을 위한 공간</p>
                  </div>
                </div>
                <div class="col-md-12">
                <table class="table" cellspacing="0">
                        <thead>
                            <tr>
                                    <th width="30%">뮤코다당증 신약 개발 임상시험 자원자 모집</th>
                                    <th width="55%"></th>
                                    <th width="15%" float="right">등록일 : 2019.06.14</th>
                                    
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>실시기관 : 식약처</td>
                                <td></td>
                                <td>모집기간 : 상시모집</td>
                            </tr>
                            <tr>
                                <td colspan="3" >
                                        <h2 style="text-align: center">파킨슨병 임상시험 모집</h2>
                                     
                                        <h5 style="text-align: center">파킨슨병환자에 대한 인간 태아의 중뇌에서 유래된<br> 도파민 신경전구세포 이식 임상연구 환자 모집</h5>
                                        
                                        <br>
                                        본 임상연구는 인간 태아의 중뇌에서 유래된 도파민 신경전구세포를 뇌(선조체)에 이식하여 안전성 및 내약성을 평가 하기 위해 진행됩니다.
                                        <br><br>

                                        <span style="font-weight:bold">1. 참여 대상</span>
                                        <br>
                                        &nbsp;&nbsp; - 만 70세 이하의 일차성 파킨슨병을 가진 여자 환자 (다른 원인에 의해 발생한 파킨슨병은 제외)
                                        <br>
                                        <br>
                                        
                                        <span style="font-weight:bold">2. 제외 대상</span>
                                        <br>
                                        &nbsp;&nbsp; - 속발성 파킨슨증: 다른 원인에 의해 발생한 파킨슨병증<br>
                                        
                                        &nbsp;&nbsp;- 정신과적 질환이나 우울증이 심한 자<br>
                                        
                                        &nbsp;&nbsp;- 치매, 간질 등 다른 뇌질환 진단을 받은 자, 뇌수술 경력이 있는 자<br>
                                        
                                        &nbsp;&nbsp;- 출혈성 경향이 있는 자<br>
                                        
                                        &nbsp;&nbsp;- 심장 질환, 폐질환 등의 심한 내과적 질환이 있는 자<br>
                                        
                                        &nbsp;&nbsp;- 임부 또는 수유부<br>
                                        
                                        &nbsp;&nbsp;- 다른 임상시험에 참여하고 있는 자<br>
                                        
                                        &nbsp;&nbsp;<span style="font-style:italic;  text-decoration: underline;">그 외 선별검사 시 임상연구에 적합하지 않은 경우 참여가 제한 됩니다.</span>
                                        <br>
                                        <br> 
                                        
                                        <span style="font-weight:bold">3. 임상시험 실시 병원</span>
                                        <br>
                                        &nbsp;&nbsp;CHA 의과학대학교 분당차병원 (신경외과 <span style="color:blue">김주평</span> 교수)
                                        
                                        <br>
                                        <br>
                                        <span style="font-weight:bold">4. 임상시험 실기 기간</span>
                                        <br>
                                        &nbsp;&nbsp;선별 검사를 위한 2회 이상의 병원 방문<br>
                                        
                                        &nbsp;&nbsp;도파민 신경전구세포 이식 후 60개월 관찰
                                        
                                        <br>
                                        <br>
                                        <span style="font-weight:bold">5. 참여에 따른 혜택</span>
                                        <br>
                                        
                                        &nbsp;&nbsp;의료진의 자세한 문진, 임상시험 참여와 관련한 일부 검사비 및 진료비, 수술비, 입원비, 약제비 가 제공됩니다.
                                        
                                        <br>
                                        <br>
                                        <span style="font-weight:bold">6. 문의 및 지원</span>
                                        <br>
                                        &nbsp;&nbsp;본 임상시험의 참여 또는 자세한 내용을 원하시는 분은 아래의 번호로 연락 바랍니다.
                                        <br>
                                        <span></span>&nbsp;&nbsp;전화 : 031-780-4976 (평일 오전 9시~오후 5시) 

                                </td>
                                <td>
                                </td>
                                <td></td>
                               
                            </tr>
                            <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                        </tbody>
                    </table>

                    <p class="button-custom order-lg-last mb-0"><a href="../" class="btn btn-secondary py-2 px-3" style="float:right">신청하기</a></p>
                    <p class="button-custom order-lg-last mb-0"><a href="../application" class="btn btn-secondary py-2 px-3" style="float:right; maring-right:10px;">목차</a></p>
                </div>
            </div>
        </section>
        <% include ../partials/footer %>
    </body>
  </html>