<!DOCTYPE html>
<html lang="en">
  <head>
	<% include ../partials/head %>
  </head>
  <body>
		<% include ../partials/nav %>
	<% include ../partials/dictionarynav %>
		
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="text pt-3 text-center">
								<h3>레프섬병</h3>
								<span class="position mb-2">확인</span>
								<div class="faded">
									<p>레프섬병(Refsum disease)은 가지달린 지방산을 분해하는 효소가 없어서 엽록소를 분해하고 생긴 가지달린 지방산인 파이탄산이 축적되는 병이다. 파이탄산이 축적되면 경련과 시력 저하가 생긴다 파이탄산의 축적을 막으려면 잎채소, 풀은 물론 풀을 먹고자란 고기도 먹지 말아야 한다.</p>
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="text pt-3 text-center">
								<h3>카나반 병</h3>
								<span class="position mb-2">확인</span>
								<div class="faded">
									<p>카나반 병 또는 ASPA 결핍증 (영어: Canavan disease)은 17번 염색체의 단완 말단(17pter-p13)에 위치하는 아스파토아실라제 (aspartoacylase) 유전자의 돌연변이가 원인이며, 상염색체 열성 유전된다. 유전자 돌연변이로 인해 효소가 전혀 생성되지 않거나 효소 활성이 저하된다. 특히 중추신경계에 아스파토아실라제가 존재하지 않을 경우 뇌에 N-acetylaspartic acid (NAA)가 축적되어 신경의 탈수초, 광범위한 공포형성 및 희소돌기아교세포의 부전을 일으켜서 카나반 병의 증상이 초래된다.</p>
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="text pt-3 text-center">
								<h3>윌슨병</h3>
								<span class="position mb-2">확인</span>
								<div class="faded">
									<p>윌슨병(Wilson's disease) 또는 간 렌즈핵 변성(肝lens核變性)은 선천적 대사장애 질환의 하나로 구리 결합 단백질인 셀룰로플라즈민의 합성저하로 인해 구리가 정상적으로 대사되지 못하고 말초조직에 축적되어 뇌 기저핵(基底核)의 진행성 변성, 각막 주위에 갈색 고리 형성, 간세포가 점점 섬유조직으로 대치되는 등의 증상을 초래한다. 이 병은 보통 10~20대에 처음 나타나는데 불수의적인 떨림, 협조 불능, 성격변화와도 관계가 있다. 치료를 위해서는 고단백, 저동(低銅) 식이요법과 페니실라민 같은 킬레이트 화합물 투여를 병행하여 조직 내의 구리를 소변으로 배설하게 한다. 간경변이 심화되면 결과적으로 간 이식을 필요로 하게 된다.</p>
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="text pt-3 text-center">
								<h3>낭포성 섬유증</h3>
								<span class="position mb-2">확인</span>
								<div class="faded">
									<p>낭포성 섬유증(囊胞性纖維症, Cystic fibrosis, CF, mucoviscidosis)은 상염색체 열성 유전성 질환이다. 주로 허파에 큰 문제를 일으키며, 이뿐 아니라 이자, 간, 창자에도 영향을 미친다. 상피 조직을 통해 염화 이온과 나트륨을 운반하는 데 이상이 생기는 것이 특징이며 이 까닭에 두껍고 끈적거리는 점막이 만들어진다.</p>
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="text pt-3 text-center">
								<h3>휴-스토빈 증후군</h3>
								<span class="position mb-2">확인</span>
								<div class="faded">
									<p>휴-스토빈 증후군 (Hughes-Stovin syndrome)은 원인 불명의 희귀 질환으로, 다발성 폐동맥 동맥류와 심부 정맥 혈전증을 일으킨다. 이름은 1959년 이 증후군을 처음으로 기술한 영국 의사 존 패터슨 휴와 피터 조지 잉글 스토빈의 이름을 따 붙여줬다. 이 병은 베체트 병 (Behçet's disease)의 희귀한 이형이다. 대부분의 환자는 20대에서 40대 사이의 젊은 성인이다. 임상 증상으로는 고열과 토혈이 있다. 방사선학적 소견은 베체트 병과 비슷하다.</p>
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="text pt-3 text-center">
								<h3>고셔병</h3>
								<span class="position mb-2">미확인</span>
								<div class="faded">
									<p>고셔병(Gaucher Disease)은 glucocerebrosidase 효소(GC)를 암호화하는 유전자의 돌연변이로 발생한다. 이러한 돌연변이는 대식 세포로 불리는 면역 세포에서 glucosylceramide라 불리는 물질을 축적시켜 효소 작용의 결핍을 유발시킨다. 이런 축적은 되면 간, 비장, 폐, 뼈와 신경계에 증상을 유발한다.</p>
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="text pt-3 text-center">
								<h3>트리처 콜린스 증후군</h3>
								<span class="position mb-2">미확인</span>
								<div class="faded">
									<p>트리처 콜린스 증후군(Treacher Collins syndrome, TCS)은 귀, 눈, 광대뼈, 턱뼈를 포함하여 머리얼굴의 기형을 특징으로 하는 상염색체 우성 선천성 장애의 하나이다. 영향을 받은 사람들은 정상 지능을 가진다.</p>
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="text pt-3 text-center">
								<h3>베르너 증후군</h3>
								<span class="position mb-2">확인</span>
								<div class="faded">
									<p>베르너 증후군(Werner syndrome)은 일반 사람보다 몇 배의 속도로 나이가 드는 '조기노화증'(早期老化症)의 하나이다. 한국에서는 조로증(早老症)으로 많이 알려져 있다</p>
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>

		<% include ../partials/footer %>
    
  </body>
</html>