<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/head %>
  </head>
  <body>
      <% include ../partials/nav %>
      <% include ../partials/communitynav %>
      <br>
      <br>
     
<div class="row" style="display: inline;">
      <div class="col-lg-3" style="margin-left:3%; width:30%;">

          <h1 class="my-4" style="font-size:30px; ">질환</h1>
          <div class="list-group" style="width:200px;">
            <a href="../posts/index" class="list-group-item">낭포섬 섬유증</a>
            <a href="../posts1/index" class="list-group-item">고셔병</a>
            <a href="../posts2/index" class="list-group-item">헌팅턴병</a>
          </div>
  
        </div>
    <!-- <li style="margin-left: 4%"><a href="../posts/index" >낭포섬 섬유증</a></li>
    <li style="margin-left: 4%"><a href="../posts1/index" >고셔병</a></li>
    <li style="margin-left: 4%"><a href="../posts2/index" ></a></li> -->


    <div class="container post post-index" style="width:70%; margin-top:-7.5%;">


      <div class="buttons">
        <% if(isAuthenticated){ %>
          <a class="btn btn-secondary py-2 px-3" href="/posts1/new">글쓰기</a>
        <% } %>
      </div>

      <table class="table table-striped posts">
        <thead>
          <tr>
            <th class="title">제목</th>
            <th class="author">작성자</th>
            <th class="date">작성 날짜</th>
          </tr>
        </thead>
        <tbody>
          <% if(posts1 == null || posts1.length == 0){ %>
            <tr>
              <td class="noData" colspan=100> There is no data to show :( </td>
            </tr>
          <% } %>
          <% posts1.forEach(function(post1) { %>
            <tr>
              <td class="title">
                <a href="/posts1/<%= post1._id %>"><div class="ellipsis"><%= post1.title %></div></a>
              </td>
              <td class="author">
                <div class="ellipsis"><%= post1.author ? post1.author.username : "" %></div>
              </td>
              <td class="date">
                <%= post1.createdDate %>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>

    </div>  <!-- container end -->
    </div>
  </div>
    <% include ../partials/footer %>

  </body>
</html>
