<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>
        <% include ../partials/communitynav %>

    <div class="container post post-show">

      <div class="buttons">
        <% if(isAuthenticated && post1.author && currentUser.id == post1.author.id){ %>
          <br>
          <a class="btn btn-secondary py-2 px-3" href="/posts1/<%= post1._id %>/edit">수정</a>
          <br>
          
        <% } %>
      </div>
      <br>
      <br>

      <div class="contentBox">
          <h3><label for="title" class="col-sm-2 control-label"><%= post1.title %></label></h3>
        <div class="row">
          <div class="col-sm-4 col-sm-push-8">
            
          </div> <!-- col end-->
          <div class="col-sm-8 col-sm-pull-4">
            <div class="post-body"><%= post1.body %></div>
          </div> <!-- col end-->
        </div> <!-- row end -->
      </div> <!-- post-container end -->
      
    </div> <!-- container end -->
    <% include ../partials/footer %>
  </body>
</html>
